body {
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-and-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text-bar {
    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
    color: white;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.discord-button,
.script-button,
.home-button {
    background-color: #515de9;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

img {
    max-width: 80%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 10px;
    position: relative;
}

.wide-input {
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #000;
    outline: none;
    font-size: 16px;
    resize: none;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

.copy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.copy-button.active::after {
    content: '\2713';
    font-size: 14px;
    margin-left: 5px;
}

.top-bar,
.container * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}